
.container{
	max-width: 900px;
	margin: 0 auto;
	background: white;
	font-size: 20px;
	padding: 0px;
}

.parallax{
	background: url(pics/new-york-5173657_1920.jpg) no-repeat center;
	background-size: 100%;
	background-attachment: fixed;
	height: 600px;

}

.next-parallax{
	background: url(pics/norway-4970081_1920.jpg) no-repeat center;
	background-size: 100%;
	background-attachment: fixed;
	height: 600px;
	
}

.other-parallax{
	background: url(pics/buildings-1336611_1920.jpg) no-repeat center;
	background-size: 100%;
	background-attachment: fixed;
	height: 600px;
	
}

.last-one{
	background: url(pics/beach-5377244_1920.jpg) no-repeat center;
	background-size: 100%;
	background-attachment: fixed;
	height: 600px;
	
}

.first{
	color: black;
	font-family: fantasy;
}


.heading{
	background-color: black;
	font-family: fantasy;
	grid-auto-columns: auto;

}
.general{
	background-color: white;
}

.faq-head{
		color: black;
		font-family: fantasy;
		text-align: center;
}

.row{
	color: black;
	font-family: fantasy;
	text-align: center;
	font-size: 20px;

}


.study-guide{
	position: center;
	font-family: fantasy;
	text-align: center;
	font-size: 150%;
}

.study-links{
	font-size: 100%;
	margin: 20px;
	padding: 100px;
}
h3{
	text-decoration: underline;
}
a:link {
	color: black;
}
a:visited{
	color: black;
}
 
/* Down bellow is the CSS for the dropdown menu */

.dropbtn {
	z-index: 0;
	background-color: white;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	font-family: fantasy;
	font-size: 100%;
	border: 2px solid black;
	letter-spacing: 4px;
	text-transform: uppercase;
	transition: 0.5s;

  }
  
  .dropdown {
	position: fixed;
	top: 16px;
	left: 16px;
	display: inline-block;
	transform-origin: top center
    
  }

  .dropdown-content {
	opacity: 0;
	user-select: none;
	display: inline-flex;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	transition: width 0.5s linear;
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 13px 16px;
	text-decoration: none;
	display: block;
	font-family: fantasy;
	font-size: 140%;
  }
  
  .dropdown-content a:hover {
	  background-color: black;
							color: white;
							transition: 0.5s;
}
  
  .dropdown:hover .dropdown-content {
	opacity: 1;
	user-select: none;
}
  
  .dropdown:hover .dropbtn {
	background-color: black;
	color: white;
  }



  /* down bellow is voor the gridcontainer on dashboard*/


  .grid-container1 {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 40px;
	background-color: white;
	padding: 0px;
	box-shadow: 0px 0px 0px 0px;
	
  }
  .grid-container1 a:hover {
	background-color: black;
	color: white;
	transition: 1s;
}

  .grid-1:hover, .grid-2:hover, .grid-3:hover, .grid-4:hover, .grid-5:hover, .grid-6:hover {
		background-color: black;
		color: white;
  }

  .grid-1 {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 0px;
	background-color: white;
	color: grey;
	padding: 0px;
	box-shadow: 0px 8px 16px 0px;
  }
  .grid-2 {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 0px;
	color: grey;
	padding: 0px;
	box-shadow: 0px 8px 16px 0px;
  }
  .grid-3 {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 0px;
	color: grey;
	padding: 0px;
	box-shadow: 0px 8px 16px 0px;
	
  }
  .grid-4 {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 0px;
	color: grey;
	padding: 0px;
	box-shadow: 0px 8px 16px 0px;
  }
  .grid-5 {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 0px;
	color: grey;
	padding: 0px;
	box-shadow: 0px 8px 16px 0px;
  }
  
  .grid-6 {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 0px;
	color: grey;
	padding: 0px;
	box-shadow: 0px 8px 16px 0px;
  }
  
  .grid-container1 > div {
	background-color: lightgray;
	border: 0px solid black;
	text-align: center;
	font-size: 20px;
	grid-gap: 0px;
  }

  .grid-container2 {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-gap: 2px;
	background-color: white;
	padding: 10px;
  }
  
  .grid-container2 > div {
	background-color: Lightgray;
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
  }

  #curve_chart{
		width: 1400px;
		height: 700px;
  }

